

<img [src]="content.imgUrl"  (click)="this.consoleprint(content.id)"/>

<img  *ngIf="content.imgUrl == null " src="/assets/defaultimage.jpeg">

<div class="author">
  {{content.author}}
</div>

<div *ngIf="content.type === 'FPS';   " class="typeFPS">
  {{content.type}}
</div>

<div *ngIf="content.type === 'Battle Royale';" class="typeBR">
  {{content.type}}
</div>

<div appHoverStyle class="title">
  {{content.title}}
</div>
<div class="body">
  {{content.body}}
</div>
<div class="tags">
  {{content.tags}}
</div>

